<!DOCTYPE html>
<!--注意，需要导入整个editormd，当然examples等可以不导入，少了插件等功能会缺失，目录层级也非常重要！-->
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title th:text="编辑文章"></title>
   <!--  <link th:href="@{/admin/css/style.css}" rel="stylesheet"/> -->
    <link th:href="@{/admin/css/editormd.css}" rel="stylesheet"/>
    <script th:src="@{/admin/js/jquery.min.js}" type="text/javascript"></script>
    <script th:src="@{/admin/js/editormd.js}" type="text/javascript"></script>
    <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon"/>
    <link th:href="@{/user/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript">
        $(function () {
            editormd("test-editormd", {
                width: "90%",
                height: 640,
                tex: true,
                codeFold: true,
                emoji:true,
                flowChart: true,
                sequenceDiagram:true,
                syncScrolling: "single",
                path: "/myBlog/editormd/lib/",
                //path: "/editormd/lib/",
                saveHTMLToTextarea: true,
                imageUpload: true,
                imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                imageUploadURL: "/myBlog/admin/uploadImg",
            });
        });
    </script>
</head>
<body>
<div class="container-fluid">
<div th:replace="user/header::header-body"></div>
    <form th:action="@{/admin/saveArticle}" method="post" class="text-center" th:with="obj=${article}">
    <div class="col-sm-6 col-md-6 text-center col-sm-offset-3 col-md-offset-3" style="margin-top: 50px;">
        <input type="hidden" class="form-control" id="id" name="id" th:value="${obj==null?'':obj.id}"/><br/>
        <input type="text" class="form-control" id="title" name="title" placeholder="标题" required="required" th:value="${obj==null?'':obj.title}"/><br/>
        <input type="hidden" class="form-control" name="hits"  th:value="${obj==null?'':obj.hits}"/><br/>
        <input type="hidden" class="form-control"  name="commentsNum"  th:value="${obj==null?'':obj.commentsNum}"/><br/>
    </div>
    <div id="test-editormd">
        <textarea style="display: none;" id="content" name="content" th:text="${obj==null?'':obj.content}" required="required"></textarea>
    </div>
    <div style="margin-top: 30px;" class="col-sm-6 col-md-6 text-center col-sm-offset-3 col-md-offset-3" >
        <input  type="text" class="form-control" id="categories" name="categories" th:value="${obj==null?'':obj.categories}" placeholder="分类"/><br/>
        <input  type="text" class="form-control" id="tags" name="tags" th:value="${obj==null?'':obj.tags}" placeholder="标签，逗号隔开"/><br/>
        <input  id="submit" class="form-control" type="submit" style="margin-bottom: 80px;max-width: 100px;" value="提交"/>
    </div>
    </form>
<!--    <form th:action="@{/article/uploadImg}">
        <div class="editormd-file-input" >
            <input type="file" name="editormd-image-file"/>
            <input type="submit" value="本地上传"/>
        </div>
    </form>-->

    <div th:replace="user/footer::user-footer"></div>
</div>

</body>
</html>
